.logo {
    font-size: 2rem;
    font-family: "Italiana", sans-serif;
    font-weight: bold;
}

.navbar {
    display: flex;
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
}

.list {
    display: flex;
    flex: 1;
    align-self: center;
    justify-content: end;
    gap: 20px;
}

.list-item {
    list-style-type: none;
    display: block;
    position: relative;
}

.link {
    text-decoration: none;
    color: #404e77;
}

.link:active {
    color: var(--accent);
}

.logo {
    color: #404e77;
}

.logo:active {
    color: #404e77;
}

.cart-products-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.7) translate(90%, -90%);
    rotate: 0;
    transition: rotate 0.2s;
    color: var(--accent);
}

.cart-products-count:hover {
    rotate: 20deg;
}

@media (max-width: 500px) {
    .navbar {
        padding: 20px 20px;
    }
}
